<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register YourSelf</h1>
    {% if msg %}
    {{msg | safe}}
    {% else %}
    Login page
    {% endif %}
    <form action={% url 'login_view' %} method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        {{form.username}}
        <label for="password">Password</label>
        {{form.password}}
        <input type="submit" value="submit">

    </form>

</body>
</html>